<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>MadLibs</title>
</head>
<body>
  <div class="container" >
  <div class="jumbotron" style="text-align:center">
    <h1>Welcome to MadLibs!</h1>
  </div>
  <h3 style="text-align:center">Enter your own words to fill in the blanks of a custom story:</h3>
  <form action="/story" method="post">
  <div class="form-group">
    <label for="adjective">Adjective:</label>
    <input id="adjective" name="adjective" type="text" placeholder="fizzy">
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" placeholder="Francine">
  </div>
  <div class="form-group">
    <label for="number">Number:</label>
    <input id="number" name="number" type="text" placeholder="56,999">
  </div>
  <div class="form-group">
    <label for="color">Color:</label>
    <input id="color" name="color" type="text" placeholder="violet">
  </div>
  <div class="form-group">
    <label for="place">Place:</label>
    <input id="place" name="place" type="text" placeholder="Starbucks">
  </div>
  <div class="form-group">
    <label for="adjectiveTwo">Adjective:</label>
    <input id="adjectiveTwo" name="adjectiveTwo" type="text" placeholder="hairy">
  </div>
  <div class="form-group">
    <label for="famousPerson">Famous Person:</label>
    <input id="famousPerson" name="famousPerson" type="text" placeholder="Ada Lovelace">
  </div>
  <div class="form-group">
    <label for="noun">Noun:</label>
    <input id="noun" name="noun" type="text" placeholder="Pennies">
  </div>
  <div class="form-group">
    <label for="song">Name of a Song:</label>
    <input id="song" name="song" type="text" placeholder="Hips Don't Lie">
  </div>
  <div class="form-group">
    <label for="verb">Verb in present tense:</label>
    <input id="verb" name="verb" type="text" placeholder="skip">
  </div>
  <div class="form-group">
    <label for="abstractNoun">Abstract noun:</label>
    <input id="abstractNoun" name="abstractNoun" type="text" placeholder="dream">
  </div>
  <div class="form-group">
    <label for="adjectiveThree">Adjective:</label>
    <input id="adjectiveThree" name="adjectiveThree" type="text" placeholder="sleepy">
  </div>
  <div class="form-group">
    <label for="pluralNoun">Plural noun:</label>
    <input id="pluralNoun" name="pluralNoun" type="text" placeholder="firefighters">
  </div>
  <button type="submit" class="btn btn-primary">Show me the story!</button>
  </form>
  </div>
</body>
</html>
