<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>MadLibs</title>
</head>
<body>
  <div class="container" >
  <div class="jumbotron" style="text-align:center">
    <h1>Welcome to MadLibs!</h1>
  </div>
  <h3 style="text-align:center">Choose your story below:</h3>
  <br>
    <a href="/form" class="btn btn-dark btn-lg btn-block">Maiden Voyage</a>
    <a href="/shortform" class="btn btn-dark btn-lg btn-block">Duel</a>
  </div>
</body>
</html>