<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="text-align:center">
      <div class="jumbotron">
        <h1>The Duel</h1>
      </div>
    <br>
    <h4>The @Model.Adjective maiden was sent to slay an evil knight. The knight used @Model.PluralNoun. It was not very effective. The maiden used her super awesome @Model.Noun attack! The wounded knight surrendered and begged to be taken up as her squire. They @Model.Verb away and had many grand adventures.</h4>
    </div>
  </body>
</html>